@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
}

.crosshair {
    cursor: crosshair;
}

#Parent {
    height: 90%;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    margin: 0;
    padding-top: 15px;
    font-family: 'Akronim', cursive;
    font-size: 70px;
    color: #E9C64B;
    background-color: #F60909;
}


#panel {
    /* margin-top: 123px; */
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: max-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F60909;
}

h4 {
    text-align: center;
    font-size: 1.25em;
    padding: 15px 0;
    color: #E9C64B;
    background-color: #6F0098;
}

#option1 {
    padding: 0 10px 0 10px;
}

#colors-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 auto;
}

.btn-color {
    background-color: #E6E1E3;
    width: 100px;
    height: 70px;
    border: 3px solid #0750A4;
    border-radius: 10px;
}

.btn-color:hover {
    transform: scale(1.15);
}


.btn-color img {
    width: 45px;
    aspect-ratio: 1/1;
}

#custom {
    padding: 12px 15px 12px 15px;
}

.space {
    width: 120px;
    padding-top: 96vh;
    background-color: #F60909;
}

#space1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.space:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#sketchPad {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    background-color: antiquewhite;
}

#canvas {
    display: grid;
    height: 700px;
    border: 2px solid #F8F1F1;
}


.boxes {
    background-color: white;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.03);
}


#knobs {
    height: 10.65vh;
    background-color: #F60909;
}