@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
}

#Parent {
margin-top: 75px;
display: flex;
justify-content: center;
}


h1 {
    margin: 0;
    font-family: 'Akronim', cursive;
    font-size: 70px;
    color: #E9C64B;
    padding: 10px;
    background-color: #F60909;
}


#panel{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: max-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F60909;
}

h4 {
    text-align: center;
    font-size: 1.25em;
    padding: 15px 0;
    color: #E9C64B;
    background-color: #6F0098;
}

#option1 {
    padding: 0 10px 0 10px;
}

#space {
    width: 200px;
    background-color: #F60909;
}

#sketchPad {
    width: 50%;
    text-align: center;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-size: 100%;
}

